

#header {
  margin-bottom: 100px;
}

#buttons {
  margin-bottom: 50px;
}


#params {
  margin-bottom: 50px;
}

#param1 {
  display: inline-block;
}

#drop {
  display: inline-block;

}

#dropdownMenuButton {
  width: 150px;
  
}
